/* logo */
.logo{
    font-size: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-name{
    font-family: "Bebas Neue", serif;
    font-size: 100px;
}
.middle-name{
    font-family: "Rock 3D", serif;
   margin: 0;
}
   
   
   /* nav link */
   .nav-items{
    list-style: none;
    font-family: "Bebas Neue", serif;
    font-size: 65px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
   }

   .nav-items > li:hover{
text-decoration: underline;
cursor: pointer;
   }

   .nav-items > li > button{
    background-color: rgb(152, 152, 240);
    font-size: 65px;
    font-family: "Bebas Neue", serif;
    border-radius: 30px;
    padding: 0 20px;
   }

   .nav-items > li > button:hover{
    background-color: rgb(244, 127, 11);
    color: rgb(250, 253, 253);
    cursor: pointer;
   }
   /* Navbar Section */
   nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
   }

   /* hero section */
   .hero{
    text-align: center;
    font-size: 150px;
    margin: 102px 30;
    font-family: "Roboto", serif;
    
   }
   h2{
    margin: 0;
   }
   .hero-des{
    font-size: 70px;
    margin: 50px 0;
   }

   /* trusted section */
   .trusted{
    margin: 100px 0;
   }
   .trusted > p{
    text-align: center;
    font-size: 60px;
   }
   .companies{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 80px;
    
   }
   .companies img{
    width: 300px;
    height: auto;
   }

   /* Gallery Section */
   .Gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
   }
   .Gallery > img{
    height: 2000px;
    width: 4500px;
    border: 1px chocolate solid;
   border-radius: 30px;

   }